/* Variables */

:root {
  
  --basic-black: #000000;

  --basic-gray-extra-light: #EEEEEE;
  --basic-gray-light: #DFDFDF;
  --basic-gray-dark: #D5D5D5;
  --basic-gray-stroke: #D7DCDE;
  --basic-gray-extra-dark: #666666;
  --basic-gray-super-dark: #444444;
  --basic-gray: #283136;


  --basic-white: #FFFFFF;

  --basic-red: #FB565A;
  --basic-red-dark: #E74246;
  --basic-red-extra-dark: #D7373B;

  --basic-green: #00CA74;
  --basic-green-dark: #00BC6C;
  --basic-green-extra-dark: #00AA62;

  --basic-yellow: #EFC849;
  --basic-yellow-dark: #EAB534;
  --basic-yellow-extra-dark: #E5A722;

}

/* Global */

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-gray);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: flex-start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* Grid */

.page {
  height: 100%;
}

/* Main header */

.main-header {
  margin-bottom: 80px;
  background-color: var(--basic-gray-extra-light);
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 180px 1fr min-content;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  outline: 5px solid rgba(231, 182, 103, 0.517);
  outline-offset: -5px;
  margin-bottom: 0;
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}

/* Logo */

.main-header-logo {
  justify-self: start;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

/* Site navigation */

.site-navigation {
  margin: 0;
  padding: 0;
  justify-self: center;
  list-style: none;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation-current a:not([href]) {
  border-bottom: 2px solid var(--basic-red);
}

/* User navigation */

.user-navigation {
  justify-self: end;
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-red);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Features */

.features {
  background-color: var(--basic-gray-extra-light);
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #EEEEEE;
}

.features-item {
  min-height: 431px;
  background-image: url("../img/index-slide-1.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  /* background-position: 100% 50%;
  background-repeat: no-repeat; */
}

.features-item h3 {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

/* Products */

.products {
  border-bottom: 2px solid var(--basic-gray-extra-light);
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  margin-bottom: 40px;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-item {
  display: grid;
  justify-content: left;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.products-image {
  margin-bottom: 25px;
  order: -1;
}

.products-button {
  justify-self: left;
}

.products-item h3 {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}

.products-item p {
  width: 260px;
  margin: 0;
  margin-bottom: 32px;
}

/* About */

.about {
  min-height: 488px;
  display: grid;
  grid-template-columns: 650px 360px;
  grid-gap: 150px;
  border-bottom: 2px solid var(--basic-gray-extra-light);
  margin-bottom: 46px;

  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.about-text {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.about-intro {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-list-header {
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
}

.about-list {
  list-style: none;
}

.about-list li::before {
  content: "";
  background: var(--basic-red);
  padding-inline: 1ch;
  margin-inline-end: 1ch;
}

.about-statistics {
  outline: 5px solid rgba(0, 128, 255, 0.3);
  outline-offset: -5px;
}

.about-table-header {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.about-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.about-table-header span {
  font-size: 26px;
  vertical-align: top;
}

.about-table-text {
  margin: 0;
}

/* Partners */

.partners {
  border-bottom: 2px solid var(--basic-gray-extra-light);
  padding-bottom: 44px;
}

.partners-list {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners-item {
  justify-self: center;
}

.partners-item img {
  opacity: 0.2;
  transition: 0.5s;
}

.partners-item img:hover,
.partners-item img:focus {
  opacity: 1;
}

.partners-item img:active {
  opacity: 0.1;
}

/* Contacts */

.contacts {
  color: var(--basic-gray-extra-dark);
  line-height: 18px;
}

.contacts h2 {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--basic-red);
  border: none;
  padding: 15px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
}

.button.products-button-app {
  background-color: var(--basic-green);
}

.button.products-button-presentaion {
  background-color: var(--basic-yellow);
}

.button.filter-button {
  width: 100%;
  color: var(--basic-black);
  background-color: var(--basic-gray-extra-light);
}

.button:hover,
.button:focus {
  background-color: var(--basic-red-dark);
}

.button.products-button-app:hover,
.button.products-button-app:focus {
  background-color: var(--basic-green-dark);
}

.button.products-button-presentaion:hover,
.button.products-button-presentaion:focus {
  background-color: var(--basic-yellow-dark);
}

.button.filter-button:hover,
.button.filter-button:focus {
  background-color: var(--basic-gray-light);
}

.button:active {
  background-color: var(--basic-red-extra-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button.products-button-app:active {
  background-color: var(--basic-green-extra-dark);
}

.button.products-button-presentaion:active {
  background-color: var(--basic-gray-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.button.filter-button:active {
  background-color: var(--basic-gray-light);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.3;
  background-color: var(--basic-black);
}

/* Inner page */

.page-title {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  background-color: var(--basic-gray-extra-light);
  text-align: center;
}

/* Filters */

.filter legend {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-input-checkbox.disabled + label,
.filter-input-checkbox:disabled + label,
.filter-input-radio.disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.3;
}

/* Catalog */

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: var(--basic-gray-extra-light);
  text-align: center;
}

.catalog-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.item-info-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.item-info-text {
  font-size: 16px;
  line-height: 18px;
}

/* Pagination */

.pagintaion-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-gray-extra-light);
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--basic-gray-dark);
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item .pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: red;
  background-color: green;
}

/* Footer */

.footer-social {
  display: grid;
  grid-template-columns: 260px 1fr;
  line-height: 22px;
  text-align: center;
}

.footer-social ul {;
  list-style: none;
}

.footer-social h2 {
  color: var(--basic-black);
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

/* Social button */

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

/* Modal */

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal h2 {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
}

.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form textarea {
  font: inherit;
  color: var(--basic-gray-super-dark);
  opacity: 0.5;
  background-color: transparent;
  border: 2px solid var(--basic-gray-stroke);
  border-radius: 3px;
  padding: 16px;
  font-size: 16px;
  line-height: 18px;
}