/* Variables */

:root {
  --basic-black: rgba(0, 0, 0, 1);
  --active-black: rgba(0, 0, 0, 0.3);
  --hover-black: rgba(0, 0, 0, 0.6);
  --basic-white: rgba(255, 255, 255, 1);
  --active-white: rgba(255, 255, 255, 0.3);
  --active-white2: rgba(0, 0, 0, 0.0001);
  --toggle-shadow: rgba(0, 0, 0, 0.15);
  --basic-grey: rgba(238, 238, 238, 1);
  --grey-shadow: rgba(0, 1, 1, 0.1);
  --grey-extra-dark: rgba(40, 49, 54, 1);
  --disabled-grey: rgba(40, 49, 54, 0.3);
  --grey-dark: rgba(68, 68, 68, 1);
  --grey-dark-hover: rgba(68, 68, 68, 0.5);
  --grey-dark-catalog: rgba(77, 77, 77, 1);
  --grey-contacts: rgba(102, 102, 102, 1);
  --grey-social: rgba(225, 225, 225, 1);
  --focus-grey: rgba(223, 223, 223, 1);
  --active-grey: rgba(213, 213, 213, 1);
  --current-grey: rgba(219, 219, 219, 1);
  --input-grey: rgba(215, 220, 222, 1);
  --input-hover: rgba(180, 185, 187, 1);
  --toggle-grey: rgba(171, 171, 171, 1);
  --scale-grey: rgba(215, 220, 223, 1);
  --basic-red: rgba(251, 86, 90, 1);
  --focus-red: rgba(231, 66, 70, 1);
  --active-red: rgba(215, 55, 59, 1);
  --basic-green: rgba(0, 202, 116, 1);
  --focus-green: rgba(0, 188, 108, 1);
  --active-green: rgba(0, 170, 98, 1);
  --bar-green: rgba(0, 202, 116, 1);
  --basic-yellow: rgba(239, 200, 73, 1);
  --focus-yellow: rgba(234, 181, 52, 1);
  --active-yellow: rgba(229, 167, 34, 1);
}

/* Global */

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", "Helvetica Neue", "Nimbus Sans", "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-extra-dark);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows:
    min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

/* Center */

.center {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.button {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: var(--focus-red);
}

.button:active {
  color: var(--active-white);
  box-shadow: inset 0px 3px 0px var(--grey-shadow);
  background-color: var(--active-red);
}

/* Header */

.main-header {
  background-color: var(--basic-grey);
}

/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr 160px;
  height: 70px;
  margin-top: 48px;
}

.site-navigation {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  column-gap: 46px;
}

.user-navigation {
  justify-self: right;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  display: inline-block;
  padding-top: 27px;
}

.site-navigation-current a {
  padding-bottom: 13px;
  border-bottom: 2px solid var(--basic-red);
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus,
.user-navigation a[href]:hover,
.user-navigation a[href]:focus {
  color: var(--basic-red);
}

.site-navigation a[href]:active,
.user-navigation a[href]:active {
  color: var(--active-black);
}

.site-navigation-current a:not([href]),
.user-navigation-current a:not([href]) {
  color: var(--basic-black);
}

/* Slider */

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  box-sizing: border-box;
  width: 1157px;
  height: 431px;
}

.slider-item h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  width: 520px;
  margin-bottom: 37px;
}

.slider-item p {
  color: var(--grey-extra-dark);
  width: 416px;
  margin-bottom: 26px;
}

/* End of Header */

/* Main-Index */
/* Services */

.services {
  box-sizing: border-box;
  height: 509px;
  border-bottom: 2px solid var(--basic-grey);
  padding: 80px 0;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item img {
  display: block;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 16px;
}

.services-item p {
  margin-bottom: 25px;
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover,
.button-green:focus {
  background-color: var(--focus-green);
}

.button-green:active {
  background-color: var(--active-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--focus-yellow);
}

.button-yellow:active {
  background-color: var(--active-yellow);
}

/* About-us */

.about-us {
  display: grid;
  grid-template-columns: 2fr 1fr;

  box-sizing: border-box;
  height: 527px;
  border-bottom: 2px solid var(--basic-grey);
  padding: 39px 0 73px;
}

.about-us-description {
  box-sizing: border-box;
}

.about-us-statistics {
  box-sizing: border-box;
  width: 360px;
  justify-self: right;
}

.about-us-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  padding: 0;
  margin-top: 34px;
  margin-bottom: 33px;
}

.about-us-text {
  width: 646px;
  margin-bottom: 40px;
}

.about-us-list-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.about-us-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us-statistics img {
  margin-bottom: 30px;
}

.about-us-table {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 357px;
  text-align: left;
}

.about-us-table caption {
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  padding-bottom: 31px;
  padding-left: 5px;
}

.about-us-table td {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  width: 119px;
  height: 64px;
}

.about-us-table sup {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  top: -16px;
  color: var(--basic-black);
}

.about-us-table th {
  font-weight: 400;
  line-height: 18px;
  padding-top: 9px;
}

/* Partners */

.partners {
  box-sizing: border-box;
  height: 182px;
  border-bottom: 2px solid var(--basic-grey);
  margin-bottom: 80px;
}

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 184px;
  justify-items: center;
}

.partners-list-item {
  position: relative;
}

.partners-list-item::after {
  content: "";
  position: absolute;
  top: 64px;
  right: -50px;
  height: 52px;
  width: 2px;
  background: var(--basic-grey);
}

.logo-borodinski::after {
  right: -45px;
}

.logo-pink::after {
  right: -57px;
}

.logo-mishka::after {
  display: none;
}

.partners-list-item img {
  width: auto;
}

.logo-htmlacademy img {
  padding-top: 63px;
}

.logo-borodinski img {
  padding-top: 46px;
}

.logo-pink img {
  padding-top: 65px;
}

.logo-mishka img {
  padding-top: 52px;
}

/* End of Main-Index */

/* Main-Catalog */
/* Button-Catalog */

.button-catalog {
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.button-catalog:hover,
.button-catalog:focus {
  color: var(--basic-black);
  background-color: var(--focus-grey);
}

.button-catalog:active {
  color: var(--active-black);
  background-color: var(--active-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Title-Catalog */

.title-catalog {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  padding-top: 73px;
  padding-bottom: 109px;
}

/* Page-Catalog */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  padding-top: 55px;
}

/* Filter */

.filter-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter legend,
.sorting,
.templates-item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-price legend,
.sorting {
  margin: 0;
  padding: 0;
}

.filter-grid legend,
.filter-features legend {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
}

.grid-list,
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Filter-price */

.filter-price label {
  line-height: 22px;
  text-transform: uppercase;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-grey);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--scale-grey);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--bar-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input[type="number"]::-webkit-outer-spin-button,
.price-controls input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-controls input[type="number"],
.price-controls input[type="number"]:hover,
.price-controls input[type="number"]:focus {
  -moz-appearance: textfield;
}

.price-controls input,
.price-controls input:hover,
.price-controls input:focus {
  outline: none;
  border: none;
  background-color: var(--basic-grey);
  border-radius: 3px;
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
}

.price-controls input[value] {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--grey-extra-dark);
}

/* Filter-grid Filter-features */

.filter-grid legend {
  margin-top: 54px;
}

.filter-features legend {
  margin-top: 43px;
}

.grid-list li,
.features-list li {
  padding-bottom: 16px;
  padding-left: 36px;
}

.grid-list-item label,
.features-list-item label {
  line-height: 20px;
  color: var(--grey-extra-dark);
}

.grid-list-item label:disabled,
.features-list-item label:disabled {
  color: var(--disabled-grey);
}

.filter-features ul {
  margin-bottom: 43px;
}

/* Templates */
/* Sorting */

.templates {
  margin-left: 141px;
}

.templates-sorting {
  display: flex;
  padding-bottom: 34px;
}

.type-sorting-list,
.direction-sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.type-sorting-list {
  display: flex;
  width: 272px;
  margin-left: auto;
  justify-content: space-between;
}

.type-sorting-list a {
  font-size: 14px;
  line-height: 18px;
  color: var(--active-black);
  text-transform: uppercase;
}

.type-sorting-list a[href]:hover,
.type-sorting-list a[href]:focus {
  color: var(--hover-black);
}

.type-sorting-list a[href]:active,
.type-current a:not([href]) {
  color: var(--basic-black);
}



/* Templates-list */

.templates-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 30px;
}

.templates-item-description {
  text-align: center;
}

.templates-item-description h3 {
  margin-bottom: 12px;
}

.templates-item-description h3:hover,
.templates-item-description h3:focus {
  color: var(--basic-red);
}

.templates-item-description h3:active {
  color: var(--basic-grey);
}

.templates-item-text {
  line-height: 18px;
  color: var(--grey-contacts);
  margin-bottom: 32px;
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.button-pagination-current a:not([href]) {
  border: 3px solid var(--current-grey);
  background-color: var(--active-white2);
}

/* End of Main-Catalog */

/* Footer */
/* Contacts */

.contacts img {
  display: block;
  margin: 0 auto;
  height: 416px;
}

.contacts-info {
  box-sizing: border-box;
  width: 319px;
  height: 308px;
  padding: 49px 50px 47px;
}

.contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 23px;
}

.contacts-address,
.contacts-phone {
  line-height: 18px;
  color: var(--grey-contacts);
}

/* Social */

.social {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  margin-bottom: 80px;
}

.social-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin-bottom: 10px;
}

.social-text {
  line-height: 22px;
  color: var(--grey-dark);
}

/* End of Footer */

/* Modal */

.modal {
  box-sizing: border-box;
  width: 960px;
  height: 590px;
  color: var(--basic-black);
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.modal h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-top: 63px;
  margin-left: 100px;
  margin-bottom: 37px;
}

.modal-form {
  margin: 37px 99px 84px 100px;
}

.modal-item label {
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 9px;
}

.modal-item input,
.modal-item textarea {
  border: 2px solid var(--input-grey);
  border-radius: 3px;
}

.modal-item input::placeholder,
.modal-item textarea::placeholder {
  color: var(--grey-dark-hover);
  opacity: 1;
}

/* Hover */

.modal-item input:hover,
.modal-item textarea:hover {
  border: 2px solid var(--input-hover);
  border-radius: 3px;
}

.modal-item input:hover::placeholder,
.modal-item textarea:hover::placeholder {
  color: var(--grey-dark-hover);
  opacity: 1;
}

/* Focus */

.modal-item input:focus,
.modal-item textarea:focus {
  outline: none;
  border: 2px solid var(--basic-black);
  border-radius: 3px;
  color: var(--grey-dark);
}

.modal-item input:focus::placeholder,
.modal-item textarea:focus::placeholder {
  color: transparent;
  opacity: 1;
}

/* Invalid */

.modal-item input:invalid {
  color: var(--focus-red);

  border-color: var(--focus-red);
}

/* End of Modal */